body{
    font-family: Helvetica, sans-serif;
    background-color: #8D8E8E;
    color: #EDEDED;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
}

.header-content{
    text-align: center;
}

.main-area {
    height: 90vh;
    padding: 20px;
    margin: 20px;
    background-color: #1A1A1A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}