body{
    font-family: Helvetica, sans-serif;
    background-color: #8D8E8E;
    color: #EDEDED;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
}

.header-content{
    text-align: center;
}

.main-area{
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    background-color: #1A1A1A;
    text-align: center;
}

.error-box{
    max-width: 70%;
    max-height: 250px;
    padding: 20px;
    background-color: rgb(109, 23, 23);
    border-radius: 20px;
}

.btn{
    font-size: 15px;
    text-decoration: none;
    border: 4px black;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #b2c0d6;
}

.btn:hover{
    background-color: #4d8ffa
}