body{
    font-family: Helvetica, sans-serif;
    background-color: #8D8E8E;
    color: #EDEDED;
}



.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
}

.header-content{
    text-align: center;
}

.main-area {
    height: 90vh;
    padding: 20px;
    background-color: #1A1A1A;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.content-area{
    text-align: center;
}


.form-content{
    color: black;
    padding: 20px;
    background-color: gray;
    border-radius: 20px;
    max-width: 30vw;
}

.input-group {
    padding: 10px;
}

.button{
    font-size: 15px;
    border: 4px black;
    color: black;
    text-decoration: none;
    border-color: black;
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: #b2c0d6;
}

.button:hover{
    background-color: #4d8ffa
}

.footer{
    text-align: center;
    color: black
}